.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/home-container1x.webp);
}

@media only screen and (min-resolution: 192dpi) {
  .thumb {
    background-image: url(../../images/home-container2x.webp);
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  padding-top: 200px;
  color: #f7f7f7;
  padding-left: 64px;
  padding-bottom: 16px;
  line-height: 32px;
}

.title2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #f7f7f7;
  padding-left: 64px;
  padding-bottom: 40px;
}

.buttonViewNow {
  margin-top: 40px;
  padding: 16px 48px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  width: 173px;
  height: 56px;
  border-radius: 200px;
  background-color: #e44848;
  border: none;
  margin-left: 64px;
}

.buttonViewNow:hover {
  background-color: #d84343;
}
